<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Images/Page_Logo.png" />
    
</head>
<body>
    @RenderBody()
</body>
</html>
